---
import Layout from "../layouts/Layout.astro";
---
<Layout title="About">
    <h1>about me</h1>
    <h2>... and my personal site :)</h2>
    <p>I am currently working through Astro's introductory tutorial for setting up a blog.</p>
    <p>This site will update as I complete more of the tutorial and as I add more projects and content.</p>
</Layout>