---
import Layout from "../layouts/Layout.astro"
---
<Layout title="Blog">
    <h1>learning blog</h1>
    <p>Here you will find my various project documents, my thoughts and insights, my poorly worded rationales, and overall a timeline of growth and love.</p>
</Layout>
