---
import Nav from "../components/Nav.astro"
import PetLoader from "../components/PetLoader.astro";

interface Props {
    title: string;
}

const { title } = Astro.props;
---
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <link rel="incon" type="image/svg+xml" href="/favicon.svg" />
        <meta name="viewport" content="width=device-width" />
        <meta name="generator" content={Astro.generator} />
        <title>{title} | amshaei.dev</title>
        <style>
            body {
                margin: 0;
                overflow: hidden;
                height: 100vh;
            }
        </style>
    </head>
    <body>
        <Nav />
        <main>
            <slot />
        </main>
        <PetLoader />
    </body>
</html>